body{
    margin: 0 auto;
    text-align: center;    
}
p{
    padding: 10px 20%;
}

.btn {
    height: 34px;
    background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 1.5;
    line-height: 1.5;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}
  
.close-btn{
    border: none;
    background: #ee5253;
    color: #fff;
    font-weight: 500;
}

.modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal{
    background: #fff;
    padding: 24px 16px;
    border-radius: 10px;
    width: 430px;
}